language: python
python:
  - "2.7"
  - "2.6"
before_install: sudo apt-get install -y libevent-dev
install:
  - pip install -r requirements.txt --use-mirrors
  - python setup.py install
script: clutch-test travis.py