{% extends "marketing-base.html" %}

{% block title %}Reset Your Password - {{ block.super }}{% endblock %}
{% block body_id %}pasword-reset-form{% endblock %}
{% block body_class %}secondary full{% endblock %}

{% block content %}    
    <div class="edge"></div>
    <div class="section">   
        <div class="content">
            <div class="title">
               <h1>Forgotten your password?</h1>
            </div>   
            <div class="main-sec">
                <h3>Enter your email address below, and we'll email instructions for setting a new one.</h3>
                <div class="form-box">
                <form method="POST">
                    {% csrf_token %}
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <input type="submit" class="btn" value="Reset my password" />
                </form>
                </div>
            </div>
            <div class="clear"></div> 
        </div>
    </div>
{% endblock %}