{% extends "marketing-base.html" %}

{% block title %}Password Reset Sent - {{ block.super }}{% endblock %}
{% block body_id %}pasword-reset-done{% endblock %}
{% block body_class %}secondary full{% endblock %}

{% block content %}    
    <div class="edge"></div>
    <div class="section">   
        <div class="content">
            <div class="title">
               <h1>Password reset e-mail sent</h1>
            </div>   
            <div class="main-sec">    
                <div class="alert-message blue">
                   <p style="font-size:18px">We&rsquo;ve emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.</p>
                </div>
            </div>
            <div class="clear"></div> 
        </div>
    </div>
{% endblock %}