{% extends "marketing-base.html" %}

{% block title %}Reset Your Password - {{ block.super }}{% endblock %}
{% block body_id %}pasword-reset-confirm{% endblock %}
{% block body_class %}secondary full{% endblock %}

{% block content %}    
    <div class="edge"></div>
    <div class="section">   
        <div class="content">
            <div class="title">
                <h1>
                    {% if validlink %}
                        Enter a new password
                    {% else %}
                        Password reset unsuccessful
                    {% endif %}
                </h1>
            </div>
            <div class="main-sec">
                {% if validlink %}
                    <div class="form-box">
                    <form method="POST">
                        {% csrf_token %}
                        <ul>
                            {{ form.as_ul }}
                        </ul>
                        <input type="submit" class="btn" value="Reset my password" />
                    </form>
                    </div>
                {% else %}
                    <div class="alert-message blue">
                       <p style="font-size:18px">We&rsquo;ve emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly.</p>
                        <div class="alert-actions">
                            <a href="{% url login %}" class="btn gray small">Log in</a>
                        </div> 
                    </div>
                {% endif %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}